#navbar {
    position: fixed;
    background-color:red ;
    color:#ecf0f1;
    width: 101.9%;
    margin-left: -15px;
    height: 60px;
    left:0px;

}
.Padre{
    display:flex; 
}

.img-fluid{
  height: 600px;
  width: 150%;
}
#body{
	background:black;
	text-align:center;
	background-size:100% 100%;
	background-attachment:fixed;
}
@font-face{
    font-family:themillion;
    src: url(letra1.otf);
}
h4{
    font-family:themillion;
    color: white;
}

